script(id = 'homeTemplate', type='x-handlebars')
  #splash
    .container-fluid
      .hero-unit
        .container
          .row.splash
            .span4.splash-left
              ul
                li
                  img(src='/images/{{logo}}')
                {{#each descriptors}}
                li {{this}}
                {{/each}}

            .span6.splash-right
              img(src='/images/{{splash}}')
  .container
    #special
      .row
      .span8.special-production
        h2{{special.title}}
        p
          {{{special.link}}}
        p {{special.description}}
      .span3
        {{#each special.quotes}}
        blockquote
          p {{this.testimony}}
          cite {{this.author}}
        {{/each}}
    hr
    #featured
      .row
        .span12.featured-productions
          h2 Featured Productions
        .span12
          ul.thumbnails
            {{#each featured}}
            include productionTile
            {{/each}}

