li.span4
  .production
    img.slide(src='/images/productions/{{this.slug}}_slide.png', title='{{this.description}}')
    .production-bar(style = "text-align:center")
      ul
        li 
          <a href=#><i class='icon-shopping-cart'></i> Add Now</a>
        li 
          <a href=#><i class='icon-play'></i>View</a>
        li 
          <a href=#><i class='icon-download'></i> Download</a>
    .description
      {{this.description}}
