li.span4
  .thumbnail(href = '#')
    img(src='/images/productions/{{this.slug}}_slide.png')
    .caption
      h5 {{this.title}}
      p {{this.description}}
      p 
        a.btn.button-primary(href="#") 
          <i class='icon-shopping-cart'></i> Add Now
        a.btn(href="#") 
          <i class='icon-play'></i>View
        a.btn(href="#") 
          <i class='icon-download'></i> Download