.container-fluid
	.hero-unit
		.container
			h1

.container
	.row
		.span4


script
	$().ready(function(){
		//pull the api
		$.get("/api", function(data){
			alert(data.title);
		}, "json");
	});