script
  $().ready(function() {
    $.get("/api", function(data){
      tekpub = tekpub.load(data);
      app = new TekpubRouter();
      Backbone.history.start({pushState:true});
    },"json");
  });

#app	
#menu
#main


include partials/homeTemplate
include partials/viewerTemplate
include partials/productionMenuTemplate